name: Say hello

on:
  push:
    branches:
      - main

jobs:
  hello_world:
    runs-on: ubuntu-latest
    steps:
      - name: Echo the message
        run: echo "Hola que tal!"
      - name: Dime la fecha
        run: date
      - name: List files
        run: ls -l