name: CI Pipeline

on:
    push:
        branches:
        - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '16'
          cache: 'npm'
      - name: Install dependencies
        run: npm ci
      - name: ejecutar ESLint
        run: npm run eslint
      - name: ejecutar build
        run: npm run build
      - name: ejecutar tests
        run: npm run test
      - name: Finish
        run: echo "Workflow completed successfully"